<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="row">
    <router-outlet></router-outlet>
    <div class="col-6">
      <!-- <app-inscription-patient></app-inscription-patient> -->
    </div>
    <div class="col-6">
      <!-- <app-inscription-praticien></app-inscription-praticien> -->
    </div>
    <div class="col-6">
      <!-- <app-connexion></app-connexion> -->
    </div>
    <div class="col-12">
      <!-- <app-liste-praticiens></app-liste-praticiens> -->
    </div>
    <div class="col-12">
      <!-- <app-liste-patients></app-liste-patients> -->
    </div>
    <div class="col-12">

    </div>
  </div>
</div>
