{% extends 'base.html.twig' %}

{% block title %}DocNoProblemo{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Index DocNoProblemo</h1>
    <p>Ceci sera l'index du Projet</p>
</div>
{% endblock %}
